body.colorfull {
	--bg-color: #eff2fc;
	--shadow-color: #002bb875;;
	--hover-bg: #d1deff;
	--hover-color: #0730a1;

	background-color: var(--bg-color);
	color: #172348;
	#colorfull-button{
		transform: scale(1.2);
	}
}

body.dark {
	--bg-color: #333;
	--hover-bg: #424242;
	--hover-color: #d3d3d3;
	--shadow-color: #0009;
	
	background-color: var(--bg-color);
	color: #fff;
	#dark-button {
		transform: scale(1.2);
	}
}