@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kaisei+HarunoUmi&family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--full-height: 100vh;
	--elastic: cubic-bezier(.85,.12,.43,2);
}

body {
	font-family: 'Roboto Mono', monospace;
}

button {
	background: none;
	border: none;
}

h1 {font-family: 'Indie Flower', cursive;}

.o {display: inline-block;}

header {
	position: fixed;
}
nav {
	font-size: 30px;
	display: block;
	background-color: var(--bg-color);
	height: 2.5em;
	width: 100vw;
	box-shadow: 0 0 10px var(--shadow-color);
}
#navlist {
	list-style-type: none;
}
#navlist > li {
	float: left;
	transition: 200ms background-color;
}
#navlist > li:hover {
	background-color: var(--hover-bg);
	color: var(--hover-color);
}
#navlist a {
	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	padding: .75em;
	color: var(--font-color);
	text-decoration: none;
}

#color-modes {
	position: absolute;
	display: flex;
	justify-content: space-between;
	right: 1em;
	top: .50em;
	width: 3.5em;
	cursor: pointer;
}
#color-modes > button {
	font-size: 100%;
	cursor: pointer;
	padding: 0;
	height: 1.5em;
	width: 1.5em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	transition: 300ms transform var(--elastic);
}
#color-modes span {
	height: 100%;
	width: 100%;
}
#dark-button > span {
	border: 1px solid #666;
}

#page-content {
	overflow-y: hidden;
	height: 10000px;
}

#background {
	position: fixed;
	bottom: 0;
	left: 0;
	max-width: 100vw;
	max-height: var(--full-height);
}
#main {
	pointer-events: none !important;
	min-height: var(--full-height);
	text-shadow: -.2em .2em .3em var(--shadow-color);
}
#main-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 250%;
	line-height: 1em;
}
#main-title h2 {font-family: 'Kaisei HarunoUmi', serif;}